- page_title _("Report abuse to admin")
%h1.page-title.gl-font-size-h-display
  = _("Report abuse to admin")
%p
  = _("Please use this form to report to the admin users who create spam issues, comments or behave inappropriately.")
%p
  = _("A member of the abuse team will review your report as soon as possible.")
%hr
= form_for @abuse_report, html: { class: 'js-quick-submit js-requires-input'} do |f|
  = form_errors(@abuse_report)

  = f.hidden_field :user_id
  .form-group.row
    .col-sm-2.col-form-label
      = f.label :user_id
    .col-sm-10
      - name = "#{@abuse_report.user.name} (@#{@abuse_report.user.username})"
      = text_field_tag :user_name, name, class: "form-control", readonly: true
  .form-group.row
    .col-sm-2.col-form-label
      = f.label :message
    .col-sm-10
      = f.text_area :message, class: "form-control", rows: 2, required: true, value: sanitize(@ref_url)
      .form-text.text-muted
        = _("Explain the problem. If appropriate, provide a link to the relevant issue or comment.")

  .form-actions
    = f.submit _("Send report"), class: "gl-button btn btn-confirm"
